/* app.css */

/* Style for the main container */
.App {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Style for the headings */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for input fields and buttons */
input[type="text"],
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the select dropdown */
select {
  cursor: pointer;
}

/* Style for the loading message */
.loading {
  font-style: italic;
}

/* Style for the commit list */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

/* Style for the commit date */
ul li strong {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Style for the commit message */
ul li p {
  margin: 0;
}

.profile-progress-bar {
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}

.progress {
  height: 20px;
  background-color: #dbdbdb;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  background-color: #007bff; /* Change the color to your preference */
  color: white;
  text-align: center;
  line-height: 20px;
  width: 0;
  transition: width 0.3s ease-in-out;
}
